.container.list {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767px) {
  .container.list {
    flex-direction: column;
    padding: 20px;
  }
}