.profile {
  width: 100%;
  height: calc(100vh - 108px);
  background-image: url("../../imgs/pattern/c.png");
}

.profile .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profileBox {
  background-color: var(--main-color);
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}

@media (max-width: 575px) {
  .profileBox {
    padding: 30px;
    width: fit-content;
  }
}

.proTitle {
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000;
}

.person {
  width: 100px;
  height: 100px;
  border: 4px solid #006aff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileIcon {
  font-size: 50px;
  color: #006aff;
}

.logoutBtn {
  color: var(--secondary-color);
  padding: 5px 30px;
  font-size: 20px;
  font-weight: normal;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #006aff;
}