.fullScreenVideo {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 150px;
}

video {
  position: relative;
  z-index: 1;
}

.fullScreenVideo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.fullScreenVideo video {
  width: 100%;
}

.fullScreenVideo .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  background-color: #00358075;
  padding: 50px;
  text-align: center;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.fullScreenVideo .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.fullScreenVideo .text p {
  margin: 0 0 30px;
}

.fullScreenVideo .text button {
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 900;
  border-radius: 5px;
  background-color: var(--main-color-light);
  border: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.fullScreenVideo .text button:hover {
  color: rgb(0 0 0 / 90%);
  background-color: var(--main-color);
}

@media (max-width: 575px) {
  .fullScreenVideo .text h2 {
    font-size: 16px;
  }
  
  .fullScreenVideo .text p {
    font-size: 12px;
  }

  .fullScreenVideo .text button {
    padding: 5px 20px;
    font-size: 16px;
    font-weight: normal;
  }
}