.header {
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  justify-content: center;
}

.header .container {
  margin: 20px 0px 100px 0px;
  position: relative;
}

@media (max-width: 575px) {
  .header .container {
    margin: 20px 0px 50px 0px;
    position: relative;
  }
}

.container.miniMode {
  margin: 20px 0px 0px 0px;
}

.headerLinks {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  align-items: center;
}

@media (max-width: 575px) {
  .headerLinks {
    gap: 15px;
    margin-bottom: 25px;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .headerLinks {
    gap: 10px;
  }
}

.container.miniMode .headerLinks {
  margin-bottom: 0px;
}

.headerLinksItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.headerLinksItem.active {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 10px;
  color: var(--secondary-color);
}

@media (max-width: 480px) {
  .headerLinksItem {
    gap: 3px;
  }
  .headerLinksItem a {
    font-size: 12px;
  }
  .headerLinksItem .headerLinkIcon {
    display: none;
  }
  .headerLinksItem.active {
    border-radius: 10px;
    padding: 5px;
  }
}

.headrDescrption {
  margin: 20px 0px;
}

.headerButton {
  padding: 10px;
  border: 1px solid var(--main-color-light);
  color: #fff;
  background-color: var(--main-color-light);
  transition: var(--time-transition) ease;
  font-weight: 900;
  border-radius: 5px;
}

@media (max-width: 575px) {
  .headrTitle {
    font-size: 22px;
  }
  .headerButton {
    font-weight: normal;
    padding: 5px;
  }
  .headrDescrption {
    margin: 10px 0px;
  }
}

.headerButton:hover {
  color: var(--main-color-light);
  background-color: #fff;
}

.headerSearch {
  height: 60px;
  padding: 10px;
  border: 3px solid var(--secondary-color);
  background-color: #fff;
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  z-index: 2;
}

@media (max-width: 575px) {
  .headerSearch {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    position: static;
    transform: none;
    margin-top: 20px;
  }
}

.headerIcon {
  color: lightgray;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.headerSearchItem {
  position: relative;
}

@media (max-width: 575px) {
  .headerSearchItem {
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 3px solid var(--secondary-color);
    height: 42px;
  }
  .headerSearchItem.headerBtn {
    justify-content: center;
    border-bottom: none;
  }
}

.headerSearchBar {
  border: none;
  outline: none;
}

.headerSearchBar::placeholder {
  color: lightgray;
  font-size: 16px;
  font-weight: 400;
}

.dateBox {
  position: absolute;
  top: 130%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.optionsBox {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

@media (max-width: 575px) {
  .dateBox {
    top: 100%;
  }
}

.optionText {
  color: var(--main-color);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounterNumber {
  color: #000;
  margin: 0px 10px;
  font-size: 12px;
}

.optionCounterButton {
  padding: 5px 10px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  transition: var(--time-transition) ease;
}

.optionCounterNumber + .optionCounterButton {
  background-color: var(--secondary-color);
}

.resetOptions {
  margin: 20px auto 0px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 5px;
  display: block;
}

.optionCounterButton:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
